table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #16cf73
}

th {
    background-color: #084406;
    color: rgb(150, 170, 154);
}