table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #a05d88
}

th {
    background-color: #b7bd7d;
    color: rgb(136, 128, 177);
}